PORT=
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_API_URL=
AI_PROVIDER=

GEMINI_API_KEY=
GEMINI_MODEL=

GROQ_API_KEY=
GROQ_MODEL=

EMAIL_USER=
EMAIL_PASS=
CONTACT_EMAIL=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=

SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_USER_NAME=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
